
<div class="mt-4">
    <h3>KHO SẢN PHẨM</h3>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">SẢN PHẨM</th>
                <th scope="col">GIÁ</th>
                <th scope="col" colspan="2">THỜI GIAN ĐĂNG</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.price}}$</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/products/{{this._id}}/edit" class="btn btn-link">UPDATE</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-product-modal">DELETE</a>
                </td>
                
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


{{!-- Confirm delete product  --}}

  <div id="delete-product-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoa san pham ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Ban co chac chan la muon xoa.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huy</button>
        <button id="btn-delete-product" type="button" class="btn btn-danger">Xoa bo</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form  --}}
 <form name="delete-product-form" method="POST" ></form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      var productId;
      var deleteForm = document.forms['delete-product-form'];
      var btnDeleteProduct = document.getElementById('btn-delete-product');

      //When dialog confirm clicked
      $('#delete-product-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) 
        productId = button.data('id');
        });
        
        btnDeleteProduct.onclick = function () {
          deleteForm.action = '/products/' + productId + '?_method=DELETE';
          deleteForm.submit();
        }
  });
  
</script>